# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Release

on:
  push:
    tags: 
      - "v*.*.*"
  repository_dispatch:
    types: [EffectiveRange/devc-effectiverange,EffectiveRange/packaging-tools]
    
jobs:
  prepare_release:
    name: Prepare
    uses: EffectiveRange/ci-workflows/.github/workflows/accept-repository-dispatch.yaml@v1_repodispatch
    with:
      versioned_dispatch_type: EffectiveRange/devc-effectiverange


  call_build_and_publish_images-armhf-bookworm:
    needs: prepare_release
    uses: ./.github/workflows/docker-image-single.yml
    secrets: inherit
    with:
      arch: "armhf"
      base_ver:  ${{needs.prepare_release.outputs.base_version}}
      version: ${{needs.prepare_release.outputs.version}}
      distro: "bookworm"


  call_build_and_publish_images-arm64-bookworm:
    needs: prepare_release
    uses: ./.github/workflows/docker-image-single.yml
    secrets: inherit
    with:
      arch: "arm64"
      base_ver:  ${{needs.prepare_release.outputs.base_version}}
      version: ${{needs.prepare_release.outputs.version}}
      distro: "bookworm"

  call_build_and_publish_images-amd64-bookworm:
    needs: prepare_release
    uses: ./.github/workflows/docker-image-single.yml
    secrets: inherit
    with:
      arch: "amd64"
      base_ver: ${{needs.prepare_release.outputs.base_version}}
      version: ${{needs.prepare_release.outputs.version}}
      distro: "bookworm"
    
  call_build_and_publish_images-armhf-trixie:
    needs: prepare_release
    uses: ./.github/workflows/docker-image-single.yml
    secrets: inherit
    with:
      arch: "armhf"
      base_ver:  ${{needs.prepare_release.outputs.base_version}}
      version: ${{needs.prepare_release.outputs.version}}
      distro: "trixie"


  call_build_and_publish_images-arm64-trixie:
    needs: prepare_release
    uses: ./.github/workflows/docker-image-single.yml
    secrets: inherit
    with:
      arch: "arm64"
      base_ver:  ${{needs.prepare_release.outputs.base_version}}
      version: ${{needs.prepare_release.outputs.version}}
      distro: "trixie"

  call_build_and_publish_images-amd64-trixie:
    needs: prepare_release
    uses: ./.github/workflows/docker-image-single.yml
    secrets: inherit
    with:
      arch: "amd64"
      base_ver: ${{needs.prepare_release.outputs.base_version}}
      version: ${{needs.prepare_release.outputs.version}}
      distro: "trixie"


  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      discussions: write
    needs: [call_build_and_publish_images-armhf-bookworm,call_build_and_publish_images-amd64-bookworm,call_build_and_publish_images-arm64-bookworm,call_build_and_publish_images-armhf-trixie,call_build_and_publish_images-amd64-trixie,call_build_and_publish_images-arm64-trixie]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Release
        uses: softprops/action-gh-release@v2


  dispatch_downstream:
    name: Dispatch downstream repo
    needs: create_release
    uses: EffectiveRange/ci-workflows/.github/workflows/repository-dispatch.yaml@v1_repodispatch
    secrets: inherit
    with:
      downstream_repo: devc-effectiverange-overlays
      event_type: ${{ github.repository }}
      version: ${{ github.ref_name }}    

